@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
  }
  
  body {
    background: #080808;
    color: #fff;
  }

  html {
    font-family: 'Raleway', sans-serif;
    /* scroll-behavior: smooth; */
  }

  .bg-background-color{
    background: rgba(0, 0, 0, 0.467);
  }

  .bg-show-background{
    background: rgba(0, 0, 0, 0.807);
  }

  .bg-background-slider{
    background: rgba(0, 0, 0, 0.87);
  }

  .header ul li::before {
    background-color: rgb(243, 46, 46);
    border-radius: 0px 0px 4px 4px;
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    width: auto;
  }
  
  .header ul li:hover::before {
    transform: scaleX(1);
    visibility: visible;
    opacity: 1 !important;
  }

  .home{
    background-image: url(images/avatar.png);
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home .icons > ul > li  a:hover {
    transform: translateY(-5px);
  }

  @media screen  and (max-width:768px){
    .home{
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
    }
  }

  /* about */

  .about .row-1 .image{
    flex: 1 1 25rem;
}


.about .row-1 .content{
    flex: 1 1 55rem;
}

.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color:#fb923c
}

.about .row-2 .skills{
    flex: 1 1 40rem;
}

.about .row-2 .skill{
  flex: 1 1 40rem;
}

.about .row-2 .skills .progress h3{
   display: flex;
   justify-content: space-between;
   padding: .3rem 0;
   font-size: 1rem;
   color: #fff;
   font-weight: 400;
   margin-top: 12px;
}

.about .row-2 .skills .progress .bar{
    width: 100%;
    background: #ccc;
    overflow: hidden;
    height: 0.9rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display: block;
    height: 100%;
    background: #ff004f;
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width: 80%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width: 70%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
  width: 60%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
  width: 50%;
}

.about .row-2 .skills .progress:nth-child(5) .bar span{
  width: 50%;
}
.about .row-2 .skills .progress:nth-child(6) .bar span{
  width: 50%;
}
.about .row-2 .skills .progress:nth-child(7) .bar span{
  width: 90%;
}
.about .row-2 .skills .progress:nth-child(8) .bar span{
  width: 50%;
}

.about .row-2 .box-container{
    flex: 1 1 40rem;
}

.about .row-2 .box-container .box{
    flex: 1 1 15rem;
    background: #fff;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.about .row-2 .box-container .box h3{
    color: #ff004f;
    font-size: 2rem;
}

.about .row-2 .box-container .box p{
    color: #666;
    font-size: 1rem;
    padding-top: .4rem;
}

/* Experience */

.experience  .box-container .box{
  flex: 1 1 33rem;
}

/* portfolio */

.work img {
  transition: transform 0.5s;
}

.layer {
  transition: height 0.5s;
}

.layer a {
  text-decoration: none;
  line-height: 60px;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  text-decoration: none;
  transition: background 0.75s;
}

/* Contact */


.social-icons a {
  text-decoration: none;
  transition: color 0.5s, transform 0.5s;
}

form input,
form textarea {
  display: flex;
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.footer{
  background: #262626; 
}

.main {
  position: relative;
}
.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #bbbbbb;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}
.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
}
.icon-block img {
  margin: 0px auto;
  width: 60%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}
.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}
.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}
.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.rounding-sec {
  position: relative;
  height: 400px;
  width: 400px;
}
.images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

/* Animation */
@keyframes leftSideAni {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes navani {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes topSideAni {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .container {
      padding: 0 4.4rem;
  }
  .main h3 {
      color: #000;
      margin-top: 1rem;
  }
}
@media screen and (max-width: 990px) {
  .main {
      grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }
  .rounding-sec {
      margin: auto;
  }
}

}